[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gunicorn = "*"
uvicorn = "*"
beautifulsoup4 = "*"
bs4 = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
deta = "*"
dnspython = "*"
firebase-admin = "*"
gcloud = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-cloud-core = "*"
google-cloud-firestore = "*"
google-cloud-storage = "*"
google-crc32c = "*"
google-resumable-media = "*"
googleapis-common-protos = "*"
grpcio = "*"
h11 = "*"
httplib2 = "*"
httptools = "*"
idna = "*"
jws = "*"
msgpack = "*"
oauth2client = "*"
proto-plus = "*"
protobuf = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pycryptodome = "*"
pydantic = "*"
pydub = "*"
pymongo = "*"
pyparsing = "*"
python-dotenv = "*"
python-jwt = "*"
python-multipart = "*"
python-snappy = "*"
pytz = "*"
requests-toolbelt = "*"
rsa = "*"
six = "*"
soupsieve = "*"
starlette = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
uvloop = "*"
watchgod = "*"
websockets = "*"
jwt = "*"
CacheControl = "*"
Pyrebase = "*"
PyYAML = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
